@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root{
    --main-color: blue;
    --jumbo-blue: rgb(0, 106, 255);
    --custom-blue-bg: #EBF3F9;
    --font-span-blue: #1b30e7

}

.center-item {
  margin: auto;

  
}



body {
    font-family: "Poppins", serif !important;
    font-weight: 320;
    font-style: normal;
    
    
}
main{
  max-width:px; /* or whatever max width you want */
  margin: 0 auto; /* centers content */
  margin-bottom: 10vw;
}

.bg-custom-blue-bright {
  background:var(--jumbo-blue)
}
.bx-shadow {
  box-shadow: 0px 0px 4px 0px #00000047
}
.widget {
  background-color: white;
}
.widget:hover{
  transform: scale(1.05);
  transition: ease-in 0.3s ease-out 0.2s ;
}
.bg-custom-blue {
  background: var(--custom-blue-bg);
}
.font-custom-blue {
  color: var(--font-span-blue)
}
.car-custom-mr {
  margin-right: 8rem;

}
.adjacent-rd {
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
}
.justify-around {
  justify-content: space-around !important;
}


/*Media Queries*/
@media (min-width: 640px) {
  .custom-height-logo {
      height: 3.5rem;
  }
}

@media (min-width: 1024px) {
  .lg\:mr-20 {
      margin-right: 8rem;
  }
}


@keyframes appear {
    0% {
        transform: translateX(+100%);
        opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  /* Apply the animation */
  .appear-image {
    animation: appear 3s ease-in;
  }
  

  .scrolling-background-l {
    width: 100%;
    height: 13vh; /* or any desired height */
    background-image: url('./images/lenders-list.png');
    background-repeat: repeat-x; /* Repeat horizontally */
    background-size: auto 100%; /* Ensure the image fits the div height */
    animation: scroll-background 1000s linear infinite; /* Adjust the duration for smooth scrolling */
  }
  
  @keyframes scroll-background {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: calc(-6000vw) 0; /* Scroll by one viewport width */
    }
  }
  
  